<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="person" class="org.example.Product" >

        <constructor-arg name="pName" value="facewash"/>
        <constructor-arg name="price" value="450.0f"/>

    </bean>

</beans>